/* Estilos personalizados */
body {
  padding-top: 56px;
}
section {
  scroll-margin-top: 20px; 
  padding-top: 20px;
  margin-top: 20px;
}
.hero-section {
  padding-top: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://via.placeholder.com/1920x1080");
  background-size: cover;
  color: white;
  padding: 150px 0;
}
